<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% block head %}
        <title>Gym Manager</title>
    {% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://image.flaticon.com/icons/svg/1040/1040897.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <header>
        <div class="links">
            <a class="headers active" href="/">Instructors</a>
            <a class="headers" href="/members">Members</a>
            
        </div>
    </header>
    
    {% block content %}
    {% endblock %}
    <script src="/script.js"></script>
</body>
</html>