{% extends 'layout.njk' %}

{% block content %}
    <div class="card">
        <div class="card">
            <div class="head">
                <img src="" alt="">
                <h3></h3>
                <h4></h4>
                <span></span>
            </div>
            <div class="contentcard">
                
                <div class="description">
                    <h5></h5>
                    <p></p>
                </div>

                <div class="areas">
                    <h5></h5>
                    <div class="area">
                        <span></span>
                    </div>
                </div>
                
                <div class="portfolio">
                    <div>
                        <span></span>
                        <p></p>
                    </div>
                    <div>
                        <span></span>
                        <p></p>
                    </div>
                </div>

            </div>
            <button></button>


        </div>
    </div>
{% endblock content %}