{% extends 'layout.njk' %}

{% block content %}

    <div class="teachers">

        {% for teacher in teachers.instructors %}
            <div class="teacher">
                <div class="perfil">
                    <img src={{teacher.avatar_url}} alt="Foto do perfil de {{teacher.name}}">
                    <div>
                        <h3>{{teacher.name}}</h3>
                        <span>avaliado</span>
                    </div>
                </div>
            
                <div class="contentcard">
                    
                    <div class="areas">
                        <h5>Área de Atuação</h5>
                        <div class="area">
                            <span>{{teacher.area_de_atuacao}}</span>
                        </div>
                    </div>
                    
                    <div class="portfolio">
                        <div>
                            <span></span>
                            <p></p>
                        </div>
                        <div>
                            <span></span>
                            <p></p>
                        </div>
                    </div>

                </div>
                
                <button>Ir</button>
            </div>

        {% endfor %}
    </div>
    
{% endblock content %}